/* Write your CSS code here */
* {
  font-family: 'Roboto';
  box-sizing: border-box;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main-heading {
  color: #ea580c;
}
.sub-container {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 50px 90px;
  border-radius: 10px;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.name-input {
  width: 290px;
  padding: 8px 10px;
  border: 1px solid #cbd2d9;
  border-radius: 5px;
  color: #9aa5b1;
  outline: none;
}
.label {
  font-size: 12px;
  font-weight: 700;
  color: #475569;
  margin-top: 0px;
}
.error-msg {
  color: #ff0b37;
  font-size: 12px;
  margin-top: 0px;
}
.error-input {
  background-color: #fef2f4;
  border: 1px solid #ff0b37;
  margin-bottom: 0px;
}
.submit-button {
  border: 0px;
  background-color: #ea580c;
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
}
.input-container {
  margin-bottom: 20px;
}
.successPage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 290px;
}
.successPageHeading {
  font-size: 20px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .main-container {
    min-height: 60vh;
  }
  .main-heading {
    margin-bottom: 90px;
    margin-top: 50px;
  }
  .sub-container {
    box-shadow: 0px 4px 16px 0px #bfbfbf;
    padding: 30px;
    border-radius: 10px;
    width: 80%;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
  }
  .name-input {
    padding: 8px 10px;
    width: 100%;
  }
  .input-container {
    margin-bottom: 20px;
  }
  .successPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .successPageHeading {
    font-size: 15px;
    padding: 2px;
  }
  .submit-button2 {
    border: 0px;
    background-color: #ea580c;
    color: #ffffff;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 10px;
  }
}
